<a href="https://colab.research.google.com/github/ManJ-PC/ADAD/blob/master/Complete_Cases_in_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##### Create example data #####

data <- data.frame(x1 = c(7, 2, 1, NA, 9),
                   x2 = c(1, 3, 1, 9, NA),
                   x3 = c(NA, 8, 8, NA, 5))

data

  x1 x2 x3
1  7  1 NA
2  2  3  8
3  1  1  8
4 NA  9 NA
5  9 NA  5

In [ ]:
complete.cases(data)

[1] FALSE  TRUE  TRUE FALSE FALSE

In [ ]:
data_complete <- data[complete.cases(data), ]
data_complete

  x1 x2 x3
2 2  3  8
3 1  1  8